<div class="row" style="margin-top: 20px;">
  <div class="col-sm-6 col-md-7">
    <h1 class="page-header" style="margin-top: 0px;">Projects</h1>
  </div>
  <div class="col-sm-3 col-md-2">
    <a class="btn btn-block btn-success" href="/project/new" style="margin-bottom: 10px;"><i class="fa fa-lg fa-fw fa-plus"></i> New project</a>
  </div>
  <div class="col-sm-3 col-md-3">
    <form name="search-projects" method="get" action="/search">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input name="q" value="" type="text" class="form-control" placeholder="Search" />
          <div class="input-group-btn">
            <input type="submit" name="search" value="Search" class="btn btn-primary" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br/>
<% if (count > 0) { %>
  <% include ../partials/projects-pagination %>
  <% projects.forEach(function(project) { %>
      <div class="panel panel-default">
        <div class="panel-body">
            <h3 style="margin-top: 0;"><a href="<%= project.getUrl() %>"><i class="fa fa-fw fa-file-text-o"></i></a> <a href="<%= project.getUrl() %>"><%= project.name %></a></h3>
            <span class="text-muted">created by</span>
            <span>
              <img src="<%= project.creatorGravatar(20) %>" alt="Avatar" hspace="3" class="img-circle" />
              <%= project.creator.name || "Anonymous" %>
            </span>
            <i class="fa fa-lg fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= project.date.toISOString() %>"><%= project.date.toDateString() %></time>
        </div>
      </div>
  <% }) %>
  <% include ../partials/projects-pagination %>
<% } else { %>
  <p class="text-center lead">There are no projects yet.</p>
<% } %>