<div class="page-contents">
  <div class="row">
    <div class="col-sm-9">
  <h1 class="page-header"><%= project.name %></h1>
      <p class="lead"><%= project.description %></p>
      <% if (typeof(user) != 'undefined' && user.id == project.creator.id) { %>
      <br/>
      <p class="text-right">
        <a href="/project/edit/<%= project.id %>" class="btn btn-default" data-shortcut-key="e"><i class="fa fa-lg fa-fw fa-pencil"></i> Edit project</a>
      </p>
      <% } %>
    </div>
    <div class="col-sm-3">
      <h4 class="text-muted">Project created by</h4>
      <div class="media">
        <div class="media-left">
          <a href="#">
           <img src="<%= project.creatorGravatar(50) %>" alt="Avatar" class="img-circle">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><%= project.creator.name || "Anonymous" %></h3>
          <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= project.date.toISOString() %>"><%= project.date.toDateString() %></time></span>
        </div>
      </div>
      </h3>
    </div>
  </div>
</div>